header {
    padding: 1rem;
}

.section {
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0px 1px 8px rgb(0 0 0 / 68%);
    width: 100%;
}



label {
    display: block;
    margin: 0.5rem 0;
}


/* Añadir al contenedor de la tabla para hacerla responsiva */
.table-container {
  width: 100%;
  overflow-x: auto; /* Hacer que la tabla sea desplazable en pantallas pequeñas */
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 768px) {
  .table-container {
      overflow-x: visible; /* No se permite el desplazamiento en pantallas grandes */
  }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;

}
th, td {
    border: 1px solid #707070;
    padding: 0.8rem;
    text-align: center;
}
th {
    background-color: rgb(101, 141, 94);
    color: #ffffff;
}
.file-input {
    display: flex;
    align-items: center;
}
.file-input input[type="file"] {
    flex-grow: 1;
}

.boton-1 {
    background-color: rgb(101, 141, 94);
    color: #ffffff;
    border: none;
    cursor: pointer;
    width: 12rem;
    height: 5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}
.boton-1:hover {
    background-color: rgb(66, 106, 59);
    color: #ffffff;

}

button.eliminar:hover{
  background-color: #460e0e;
}


/*******/

.buttonLogin {
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    background: #f7ea53;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 600;
    border: none;
    position: relative;
    cursor: pointer;
    transition-duration: .2s;
    box-shadow: 0px 1px 5px 0px #16233E;
  }

.buttonPreview {
    height: 1.9rem;
    width: auto;
    font-size: .924rem;
    justify-content: space-between;
    background: #6b8965;
}


.buttonLogin:hover {
    background: #4d7544;
  }
  
.buttonLogin:hover .bell {
    animation: bellRing 0.9s both;
  }
  
  /* bell ringing animation keyframes*/
  @keyframes bellRing {
  
    0%,
    100% {
      transform-origin: top;
    }
  
    15% {
      transform: rotateZ(10deg);
    }
  
    30% {
      transform: rotateZ(-10deg);
    }
  
    45% {
      transform: rotateZ(5deg);
    }
  
    60% {
      transform: rotateZ(-5deg);
    }
  
    75% {
      transform: rotateZ(2deg);
    }
  }

.iconContainerButton {
    margin-inline: 1rem;
}

.tooltip {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /* Posicionar el tooltip arriba del icono */
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    width: 120px;
  }
  
  .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    /* Apunta hacia abajo */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .icon-container {
    position: relative;
    display: inline-block;
  }
  
  
  .icon-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }

  button.button1{
    background-color: rgb(32, 60, 185);
    color: #ffffff;
    border: none;
    cursor: pointer;
    align-items: center;
}
  button.button1:hover{
      background-color: rgb(21, 29, 77);
  }

  button.button2{
    background-color: rgb(101, 141, 94);
    color: #ffffff;
    border: none;
    cursor: pointer;
    align-items: center;
}
button.button2:hover{
    background-color: rgb(28, 85, 13);
}




/* FORMMM */

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  margin: 0;
  box-shadow: -1px 0px 15px 0px #21699369;
  padding: 2.25em;
  box-sizing: border-box;
  border: solid 1px #DDD;
  border-radius: 0.2em;
  font-family: sans-serif;
  font-size: 13px;

}

.form .Group {
  margin-bottom: 2em;
}

.form label {
  margin: 0 0 10px;
  display: block;
  font-size: 1.25em;
  color: #217093;
  font-weight: 600;
  font-family: inherit;
  margin-top: 1em;

}

.form input, textarea, select {
  padding: 0.3em 0.5em 0.4em;
  background-color: #ffffff;
  border: solid 2px #3e91afaf;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  font-size: 1.3em;
  color: #000000c0;
  font-weight: 300;
  transition: box-shadow 0.2s linear, border-color 0.25s ease-out;
}


.form input:focus, select:focus, textarea:focus {
  border-color: #006b92; /* Mantén el borde original en focus */
  outline: none; /* Elimina el contorno adicional del navegador */
}

.form .btn {
  display: inline-block;
  margin: 0;
  padding: 0.3em 0.6em;
  background-color: #3e91af;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: none;
  width: auto;
  height: auto;
  font-size: 1.2em;
  color: #FFF;
  transition: transform 0.1s ease-in-out, background-color 0.2s ease-out;
}

.form .btn:hover {
  cursor: pointer;
  background-color: #217093;
}

.form .btn:active {
  transform: scale(0.6);
}

.form .btn-container {
  text-align: right;
  width: 100%; /* Asegurar que el contenedor ocupe todo el ancho */
}

input[type="radio"] {
  width: 1.2em; /* Ajusta el tamaño del radio button */
  height: 1.2em; /* Ajusta el tamaño del radio button */
  margin: 0.5em; /* Espaciado alrededor de los círculos */
}


/* REGISTRAR SOLICITUD BUTTON

/* From Uiverse.io by alexmaracinaru */ 
.form .cta {
  
  position: relative;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 12px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
  width: 12rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;

}

.form .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.form .cta span {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #234567;
}

.form .cta svg {
  position: relative;
  top: 0;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.form .cta:hover:before {
  width: 100%;
  background: #b1dae7;
}

.form .cta:hover svg {
  transform: translateX(0);
}

.form .cta:active {
  transform: scale(0.95);
}


.button-container {
  
  display: flex; /* Usamos flexbox para alinearlos horizontalmente */
  gap: 20px; /* Espaciado entre los botones *//* Centra los botones horizontalmente */
  align-items: center; /* Alinea los botones verticalmente */
  margin: 20px 0; /* Espaciado superior e inferior para el contenedor */
}


/* BUTTON DE RESPALDO DE BNUP





/* Estilo para el botón con clase eliminar-btn */







.eliminar-btn {
  width: 170px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #e62222;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

.eliminar-btn, .eliminar-btn span {
  transition: 200ms;
}

.eliminar-btn .text {
  color: white;
  font-weight: bold;
  margin-left: 10px;

}

.eliminar-btn .icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(125px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eliminar-btn svg {
  width: 15px;
  fill: #eee;
}

.eliminar-btn:hover {
  background: #ff3636;
}

.eliminar-btn:hover .text {
  color: transparent;
}

.eliminar-btn:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
}

.eliminar-btn:focus {
  outline: none;
}

.eliminar-btn:active .icon svg {
  transform: scale(0.8);
}




/* crear bnup */


.crear-btn {
  width: 170px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: start;
  background: rgb(101, 141, 94);/* Color verde para crear */
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

.crear-btn, .crear-btn span {
  transition: 200ms;
}

.crear-btn .text {
  color: white;
  font-weight: bold;
  margin-left: 10px;
  
}

.crear-btn .icon {
  position: absolute;
  border-left: 1px solid rgb(70, 99, 65); /* Color verde más oscuro */
  transform: translateX(125px);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.crear-btn svg {
  width: 15px;
  fill: #eee;
}

.crear-btn:hover {
  background:rgb(70, 99, 65);/* Color verde más oscuro al pasar el cursor */
}

.crear-btn:hover .text {
  color: transparent;
}

.crear-btn:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
}

.crear-btn:focus {
  outline: none;
}

.crear-btn:active .icon svg {
  transform: scale(0.8);
}



/* MODAL BNUO */


.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.modal-header {
  padding: 15px;
  background: linear-gradient(to right, rgb(101, 141, 94), #3e91afaf);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-body {
  padding: 20px;
  color: black;
}
.close {
  color: white;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover,
.close:focus {
  color: #f1f1f1;
  text-decoration: none;
  cursor: pointer;
}
h4 {
  margin-top: 0;
}
p {
  margin: 10px 0;
}