/* General styles */
.container {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 2rem; /* Tamaño de fuente grande */
    font-weight: 700; /* Negrita */
    color: #3d3d3d; /* Color gris oscuro */
    text-align: center; /* Centrar el texto */
    margin-top: 1rem; /* Espaciado superior */
    margin-bottom: 1rem; /* Espaciado inferior */
    text-transform: uppercase; /* Transformar texto a mayúsculas */
    letter-spacing: 0.1em; /* Espaciado entre letras */
  
  }

/* Table styles */
.tablaSolicitudes {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem; /* Espaciado superior */
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    font-size: 1rem;
    text-align: center;
}

/* Table header styles */
.tablaSolicitudes th, 
.tablaSolicitudes td {
    padding: 0.8rem; /* Espaciado de celdas */
    border: 1px solid #d0d0d0; /* Borde de las celdas */
    text-align: center;
}

/* Header styling */
.tablaSolicitudes thead th {
    background-color: rgb(101, 141, 94); /* Fondo del encabezado */
    color: #ffffff; /* Color de texto blanco */
    letter-spacing: 0.05em; /* Espaciado de las letras */
    font-weight: bold; /* Negrita en el encabezado */
}

/* Body cell styling */
.tablaSolicitudes td {
    color: #333333; /* Color de texto */
    font-weight: 400; /* Peso de fuente normal */
}

/* Hover effect */
.tablaSolicitudes tr:hover td {
    background-color: #e6f7e6; /* Fondo verde claro al pasar el ratón */
}


.inicio{
    border-radius: 15px 0% 00% 0%;
}

.fin{
    border-radius: 0% 15px 00% 0%;
}
/* Row hover effect */
.tablaSolicitudes tbody tr:hover {
    background-color: #f9f9f9;
}

/* Buttons */
.tablaSolicitudes button {
    padding: 5px 10px;
    font-size: 0.9rem;
    border: none;
    cursor: pointer;
    background-color: #3e91afbb;
    color: rgb(255, 255, 255);
    border-radius: 0px 0px 0px 0px;
    transition: background-color 0.3s ease;
}

.tablaSolicitudes button .inicio{
    border-radius: 4px 0px 0px 0px;
}

.tablaSolicitudes button:hover {
    background-color: #295c6e;
}

.tablaSolicitudes button a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.tablaSolicitudes button a:hover {
    text-decoration: underline;
}

/* Empty message */
.tablaSolicitudes tbody tr td[colspan] {
    text-align: center;
    font-style: italic;
    color: #888;
}


/* Botón personalizado */
.btn-crear {
    width: 170px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: start;
    background: rgb(101, 141, 94);/* Color verde para crear */
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  }
  
.btn-crear, .btn-crear span {
    transition: 200ms;
  }
  
.btn-crear .text {
    color: white;
    font-weight: bold;
    margin-left: 10px;
    
}
  
.btn-crear .icon {
    position: absolute;
    border-left: 1px solid rgb(70, 99, 65); /* Color verde más oscuro */
    transform: translateX(125px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.btn-crear svg {
    width: 15px;
    fill: #eee;
}
  
.btn-crear:hover {
    background:rgb(70, 99, 65);/* Color verde más oscuro al pasar el cursor */
}
  
.btn-crear:hover .text {
    color: transparent;
}
  
.btn-crear:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
  }
  
.btn-crear:focus {
    outline: none;
  }
  
.btn-crear:active .icon svg {
    transform: scale(0.8);
  }
  
  

/* Asegurarnos de que la tabla sea desplazable horizontalmente */
#tabla-container {
    overflow-x: auto;  /* Permite desplazamiento horizontal */
    -webkit-overflow-scrolling: touch; /* Mejora la experiencia en dispositivos táctiles */
}

/* Estilos básicos para la tabla */
.tablaSolicitudes {
    width: 100%; /* La tabla debe ocupar todo el ancho disponible */
    border-collapse: collapse; /* Eliminar espacio entre celdas */
}

.tablaSolicitudes th, .tablaSolicitudes td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd; /* Borde ligero para las celdas */
}

.tablaSolicitudes th {
    background-color: #f2f2f2; /* Color de fondo para los encabezados */
}

/* Hacer que las celdas se ajusten automáticamente en pantallas pequeñas */
@media screen and (max-width: 768px) {
    .tablaSolicitudes th, .tablaSolicitudes td {
        padding: 6px; /* Reducir el espacio en pantallas pequeñas */
        font-size: 12px; /* Reducir tamaño de fuente */
    }
}




/* Estilo para el input de búsqueda */
input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: border 0.2s ease;
}

input[type="text"]:focus {
    border: 1px solid #505050;
}
.highlight {
    background-color: yellow;
}

#pagination-controls {
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination-button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: rgb(158, 187, 152);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.pagination-button.active {
    background-color:rgb(101, 141, 94)
}

.pagination-button:hover {
    background-color: rgb(101, 141, 94);
}

.button-cls {
    background-color: #DC3545;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    outline: none;
}

.button-cls.active i {
    margin-left: 8px;  /* Espacio entre el texto y el ícono */
}


.button-cls-split {
    color: #dc3545;
    border-color: #dc3545;
    background-color:#fff;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #dc3545;
}
.dd-cls {
    position: absolute;
    display: inline-block;
}

.dd-cls:hover .dd-cont-cls {
    display: block;
}
  
.button-cls:hover, .dd-cls:hover .button-cls {
    background-color: #A51D2B;
}
  
.dd-cont-cls {
    border: 2px solid #d8d8d8;

    display: none;
    position: absolute;
    background-color: rgb(101, 141, 94);
    min-width: 160px;
    z-index: 1;
    border-radius: 0px 10px 10px 10px;
} 
.dd-cont-cls a {
    color:#ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dd-cont-cls a:hover {
    
      background-color: rgb(65, 102, 59);
      color:#ffffff;
   }
  

   .caja {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  .recibido{
    background-color: #ffffff;
    border: 2px solid rgb(86, 118, 79); /* Borde con el mismo color que el texto */
    color: rgb(86, 118, 79);
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out; /* Transición suave */
    border-radius: 5px; /* Bordes redondeados opcionales */
  } 
  
  .recibido:hover {
    background-color: rgb(86, 118, 79); /* Color de fondo cambia al color del texto */
    color: #ffffff; /* El texto cambia a blanco */
    border: 2px solid rgb(86, 118, 79); /* Mantiene el borde */
  }

button {
    background-color: rgb(101, 141, 94);
    color: #ffffff;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: rgb(66, 106, 59);
}