
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />


  <style ></style>
  <div class="logo-container">
    <img src="https://departamentosig.munivalpo.cl/media/assets/imagen_sig/None/adjunto_O34NEQr.png" alt="logo SECPLA" class="logo2" />
    <img src="https://departamentosig.munivalpo.cl/media/assets/imagen_sig/None/adjunto_qzIKvz0.png" alt="logo Valparaiso" class="logo"/>
  </div>

<body>
  <div class="container">
    <h1>PREFACTIBILIDAD DE INICIATIVAS</h1>
    
  
    <div class="wrapper">

      <form action="{% url 'login' %}" method="POST" >
        {% csrf_token %}

        <h2>Iniciar Sesión </h2>
        <div class="input-field">
          <input type="text" id="email" name="email" required autocomplete="off">
          <label>Usuario</label>
        </div>
        <div class="input-field">
          <input type="password" id="password" name="password" required>
          <label>Contraseña</label>
        </div>
    
        <button type="submit">Ingresar</button>
        
      </form>
    </div>
    <br>
    <br>
    {% if messages %}
    <div class="wrapper-error">
      <div class="alert alert-danger">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</body>

